<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/metro.css">
    <title>Amazon.com</title>
</head>
<body>
    <style>
     .body{
        width: 100%;
        height: 535px;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
     }.img1{
        width: 100px;
        height: 38px;
        /* background-color: red; */
        cursor: pointer;
    }.login-body{
        width: 340px;
        height: 370px;
        border-radius:10px;
        /* background-color: red; */
        padding: 25px;
        border:1px rgb(231, 229, 229) solid;
    }.login-body-h1{
        font-size: 28px;
        font-weight: 400;
    }#email{
        width: 290px;
    }.login-p{
        font-weight: 700;
        font-size: small;
    }.cart-button{
        background-color: #FFD814;
        border-radius: 7px;
        width:100%;
        height: 33px;
        border:1px #FFD814 solid;
        font-size: small;
        font-weight: 500; 
       cursor: pointer;
      }.cart-form{
        display: flex;
        width: 101%;
        /* background-color: red; */
        height: 180px;
        flex-direction: column;
        justify-content:space-evenly;
        /* align-items: center; */
      }.cart-button:hover{
        cursor: pointer;
        background-color:rgb(252, 210, 0) ;
        border:1px rgb(252, 210, 0) solid ;
      }.login-privce{
        font-size:12px;
        font-weight: 400; 
      }.br{
          width: 100%;
          height: 1px;
          background-color: rgb(231, 229, 229);
      }.login-secbody{
        width: 340px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100px;
        /* border-radius:10px; */
        /* background-color: red; */
      }.cart-secbutton{
        background-color: #FFF;
        border-radius: 7px;
        width:100%;
        height: 60%;
        border:1px rgb(231, 229, 229) solid;
        font-size: small;
        font-weight: 500; 
       cursor: pointer;
      }.cart-secbutton:hover{
        cursor: pointer;
        background-color:#D5D9D9 ;
        border:1px rgb(231, 229, 229) solid ;
      }.footer5{
        display: flex;
        /* justify-content: center; */
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 80px;
        background-color:#FFF;
        border-top:10px #FFF solid;
    } .footer5-top{
        width:370px;
        display: flex;
        justify-content: space-around;
        /* background-color: green; */
        align-items: center;
    }.footer5-a{
        /* color: #DDD; */
     font-size: 12px;
    }.footer5-a:hover{
        text-decoration: underline;
    } .footer5-p{
        color: gray;
     font-size: 12px;
    }.cart-secform{
        display: flex;
        width: 101%;
        /* background-color: red; */
        height: 55px;
        justify-content: center;
        align-items: center;
    }
    </style>
    <main class="body">
        <a   href="/"><img  class="img1" src="http://vrworld.com/wp-content/uploads/2014/06/Amazon-Logo1.jpg"></a>
     <div class="login-body">
    <h1 class="login-body-h1">Sign in</h1>
    
<form class="cart-form" action="/login" method="POST" data-role="validator">
    <p class="login-p">UserName</p>
<input type="text" data-role="input" id="email" data-validate="required" name="username">
<p class="login-p">Password</p>
<input type="password" data-role="input" id="email" data-validate="required" name="password">
    <button class="cart-button"  >Continue</button>
</form>
  <p class="login-privce">By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
  <div class="br"></div>
  <p class="login-p">Buying for work?</p>
     </div>
     <div class="login-secbody">
     <div class="br"></div>
     <form class="cart-secform" action="/register">
     <button class="cart-secbutton"  >Create your Amazon account</button>
    </form>
    </div>
    </main>
    <div class="footer5">
        <div class="footer5-top">
            <a href="/" class="footer5-a">Conditions of Use</a>
            <a href="/"  class="footer5-a">Privacy Notice</a>
            <a href="/" class="footer5-a">Your Ads Privacy Choices</a>
        </div>
        <div class="footer5-bottom">
            <p class="footer5-p">© 1996-2023, Amazon.com, Inc. or its affiliates</p>
        </div>
</div>
</div>
</body>
</html>