<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->

    <title>Amazone.com</title>
    
</head>

<body>
    <style>
        body{
            padding: 0%;
            margin: 0%;
        }#message{
            position: absolute;
            top:90px;
            z-index: 3;
            width: 100%;
        }
    </style>
    <%-include("../partials/newnav.ejs")%>
    <%if(success && success.length){%>
        <div class="d-flex p-2 bg-blue fg-white mar" id="message"><h7><%= success %></h7></div>
        
        
        
        
     
    <%}%>
    <%-body%>
    <%-include("../partials/footer.ejs")%>    
    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
<script>
    const cart = document.querySelector(".top3")
    const button = document.querySelector(".cart-button")
   
    let num = 0;
function increment(){
 num = num +1
 cart.innerHTML =0+num;
}
     
    
  
</script>
</body>
</html>